pdfplumber~=0.11.5
spacy
transformers
scikit-learn~=1.6.1
gTTS
pyttsx3
matplotlib
Pillow~=11.1.0
opencv-python
django
tensorflow
PyPDF2
nltk~=3.9.1
PyMuPDF
ollama~=0.4.7
IPython>=8.18.1



torch
fitz~=0.0.1.dev2
pytesseract~=0.3.13